<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo">
    <test name="Test">
        <parameter name="username" value="" />
        <parameter name="password" value="" />
        <parameter name="incorrectUsername" value="user" />
        <parameter name="incorrectPassword" value="sauce" />
        <classes>
            <class name="CheckLoginTest" />
            <class name="CheckInventoryTest" />
            <class name="CheckMainMenuTest" />
            <class name="CheckShoppingCartTest" />
        </classes>
    </test>
</suite>